* {
  box-sizing: border-box;
  text-align: center;
  background: #fffff0;
}

input {
  margin-top: 5px;
  width: 200px;
  margin-right: 10px;
  margin-left: 10px;
  height: 38px;
  border: 1px solid #120a80;
  border-radius: 10px;
  padding: 10px;
  padding-top: 15px;
  margin-bottom: 10px;
}

input [type="text"] {
  font-family: "Times New Roman", Times, serif;
}

.article-container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  font-family: "Oswald", sans-serif;
  background: linear-gradient;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  justify-content: center;
  align-content: space-around;
  border: 1px solid #ced3d5;
}

.article-card {
  margin: auto;
}

.myButton {
  background: #120a80;
  background-color: #120a80;
  border-radius: 6px;
  border: 1px solid #120a80;
  display: inline;
  cursor: pointer;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #120a80;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  height: 40px;
  max-height: 40px;
}
.myButton:hover {
  background: linear-gradient(to bottom, #ced3d5 5%, #120a80 100%);
  background-color: #120a80;
}
.myButton:active {
  position: relative;
  top: 1px;
}

.searchbar {
  font-family: Times New Roman;
  font-size: 15px;
  font-weight: bold;
  margin-top: 5px;
}

h1 {
  font-family: "Oswald", sans-serif;
  text-align: center;
}

h1#title {
  text-align: center;
  font-family: "Teko", sans-serif;
  font-size: 100px;
  margin-top: 0;
  margin-bottom: -40px;
}

#articles {
  display: flex;
  justify-content: center;
  align-items: baseline;
  border-bottom: solid 6px #120a80;
  padding: 10px;
}
